.poke-modal-detail {
    
    @media (min-width: 541px) {
        overflow: unset !important;
    }


    .modal-dialog {
        @media (max-width: 540px) {
            display: flex;
            min-height: calc(90% - 10%) !important;
            max-height: calc(90% - 20%) !important;
            bottom: 0 !important;
            position: absolute !important;
            margin: unset !important;
            border-radius: 200px !important;
            width: 100% !important;
        }

        @media (min-width: 541px) {
            margin-top: 95px !important;

            .modal-content {
                height: 80vh;
                overflow-y: auto;
            }
        }

        .modal-content {
            border-top-left-radius: 35px !important;
            border-top-right-radius: 35px !important;

            .modal-header {
                text-transform: capitalize;
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }
}

.poke-detail-img {
    position: absolute;
    margin: auto;
    @media (max-width: 540px) {
        top: -110px;
        width: 160px;
        height: 160px;
        left: 0;
        right: 0;
    }
    @media (min-width: 541px) {
        right: 45px;
        width: 80px;
        height: 80px;
        top: -5px;
        z-index: 1;
    }
}

.poke-detail-tab {
    .nav-link.active {
        border-bottom: 2px solid green !important;
    }
}
.poke-detail-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;

    h6 {
        text-transform: capitalize;
    }
}

.poke-sprite {
    img {
        width: 70px;
        height: 70px;
    }
}

.nickname {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 20px;
}
